<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 此文件 logback.xml 放入 resource (IDEA IDE) -->

    <!-- 輸出到控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
        <target>System.out</target>
        <encoder>

            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <!--        </layout>-->
    </appender>


    <!-- 輸出放置目錄 -->
    <property name="DEV_HOME" value="D:\\learnJava\\thread-test\\src\\main\\resources"/>

    <!-- 輸出到指定目錄 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 輸出路徑-->
        <file>${DEV_HOME}/debug.log</file>
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            <charset>utf-8</charset>
        </encoder>

<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/log/debug.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
<!--            <timeBasedFileNamingAndTriggeringPolicy-->
<!--                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>10MB</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
            <maxFileSize>1MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- level 低到高 ALL -> trace -> debug -> info -> warn -> error -->
    <root level="ALL">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>